<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candy.name %>
</p>

<p>
  <b>Price:</b>
  <%= @candy.price %>
</p>

<p>
  <b>Color:</b>
  <%= @candy.color %>
</p>


<%= link_to 'Edit', edit_candy_path(@candy) %> |
<%= link_to 'Back', candies_path %>
